<header class="page-header">
    <h1>@Page.Title</h1>
    <nav>
        <ul>
            <li><a href="~/Home">Home</a></li>
            <li><a href="~/Blog">Blog</a></li>
            <li><a href="~/Contact">Contact</a></li>
        </ul>
    </nav>
</header>