@model Basketball.Models.IndexViewModel

<h4>List of teams</h4>
<section class="teams-container">
    @foreach (var team in Model.Teams)
    {
        <div>
            <h5>@Html.DisplayFor(x => team.Name)</h5>
            <h6>Members</h6>
            <div class="teams-members-list">
                    @foreach (var member in team.Members)
                    {
                        <div class="teams-members-item">
                            <p>
                                @Html.DisplayFor(x => member.Name)
                            </p>
                        </div>
                    }
            </div>
            @if (Model.User.Team == null)
            {
                @Html.ActionLink("Request to join", "JoinRequest", new { userEmail = Model.User.Email, teamName = team.Name}, null)
            }
        </div>
    }
</section>
