<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>@Page.Title</h1>
    <main>
        @RenderBody()
    </main>
    <div id="footer">
        <p>&copy; 2016 Coding Bootcamp. All rights reserved.</p>
    </div>
</body>
</html>